<!DOCTYPE html>
<html amp lang="en">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <amp-ad width="100vw" height=320
            type="adsense"
            data-ad-client="ca-pub-3392919614221850"
            data-ad-slot="2178961690"
            data-auto-format="rspv"
            data-full-width>
      <div overflow></div>
  </amp-ad>

  </body>

</html>
